<a href="https://colab.research.google.com/github/krishnaprasadlenka/python_concepts/blob/main/Datatypes_and_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

all the data types in python

In [1]:
data_types = [
    10,             # Integer
    3.14,           # Float
    True,           # Boolean
    "Hello",        # String
    [1, 2, 3],      # List
    (4, 5, 6),      # Tuple
    {7, 8, 9},      # Set
    {"a": 1, "b": 2}, # Dictionary
    None            # NoneType
]

for item in data_types:
    print(f"Value: {item}, Type: {type(item)}")

Value: 10, Type: <class 'int'>
Value: 3.14, Type: <class 'float'>
Value: True, Type: <class 'bool'>
Value: Hello, Type: <class 'str'>
Value: [1, 2, 3], Type: <class 'list'>
Value: (4, 5, 6), Type: <class 'tuple'>
Value: {8, 9, 7}, Type: <class 'set'>
Value: {'a': 1, 'b': 2}, Type: <class 'dict'>
Value: None, Type: <class 'NoneType'>

In [2]:
a = 5
print(type(a))

b = 5.0
print(type(b))

c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

strings

In [8]:
#creating the strings
str1="this is a string "
str2='this is another string'
str3="""this is third string"""
print("str1:-",str1)
print("str2:-",str2)
print("str3:-",str3)

str1:- this is a string
str2:- this is another string
str3:- this is third string


string operations

In [9]:
#concatenation
str1="hello"
str2="world"
str3=str1+str2
print(str3)

helloworld

In [10]:
#length of string
str1="hello"
print(len(str1))

5

In [12]:
#indexing (position of element)
str1="krishna"
str2="prasad"
print(str1[0])
print(str2[3])

k
s

Slicing :- accessing parts of a string
str[starting_index:Ending_index]

In [13]:
#here element at ending index is not included
str="KrishnaPrasadLenka"
print(str[2:7])

ishna

In [19]:
#slicing with negative index (it always starts from -1)
str = "KrishnaPrasad Lenka"
print(str[-5:-1])

Lenk

String functions

In [23]:
str="krishna prasad lenka"
print(str.endswith("ka"))
print(str.startswith("krishna"))
print(str.capitalize())
print(str.replace("krishna prasad lenka","sibu lenka"))
print(str.count("a"))
print(str.find("prasad"))
print(str.upper())
print(str.lower())
print(str.title())

True
True
Krishna prasad lenka
sibu lenka
4
8
KRISHNA PRASAD LENKA
krishna prasad lenka
Krishna Prasad Lenka