<a href="https://colab.research.google.com/github/krishnaprasadlenka/python_concepts/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

creating list

In [3]:
# Creating a Python list with different data types
a = [10, 20, "GfG", 40, True]

print(a)

# Accessing elements using indexing
print(a[0])  # 10
print(a[1])  # 20
print(a[2])  # "GfG"
print(a[3])  # 40
print(a[4])  # True

# Checking types of elements
print(type(a[2]))  # str
print(type(a[4]))  # bool

[10, 20, 'GfG', 40, True]
10
20
GfG
40
True
<class 'str'>
<class 'bool'>

Adding Elements into List
We can add elements to a list using the following methods:

append(): Adds an element at the end of the list.
extend(): Adds multiple elements to the end of the list.
insert(): Adds an element at a specific position.

In [4]:
# Initialize an empty list
a = []

# Adding 10 to end of list
a.append(10)
print("After append(10):", a)

# Inserting 5 at index 0
a.insert(0, 5)
print("After insert(0, 5):", a)

# Adding multiple elements  [15, 20, 25] at the end
a.extend([15, 20, 25])
print("After extend([15, 20, 25]):", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]

Updating Elements into List

In [5]:
a = [10, 20, 30, 40, 50]

# Change the second element
a[1] = 25

print(a)

[10, 25, 30, 40, 50]

Removing Elements from List
We can remove elements from a list using:

remove(): Removes the first occurrence of an element.
pop(): Removes the element at a specific index or the last element if no index is specified.
del statement: Deletes an element at a specified index.

In [6]:
a = [10, 20, 30, 40, 50]

# Removes the first occurrence of 30
a.remove(30)
print("After remove(30):", a)

# Removes the element at index 1 (20)
popped_val = a.pop(1)
print("Popped element:", popped_val)
print("After pop(1):", a)

# Deletes the first element (10)
del a[0]
print("After del a[0]:", a)

After remove(30): [10, 20, 40, 50]
Popped element: 20
After pop(1): [10, 40, 50]
After del a[0]: [40, 50]

reverse()

In [7]:
my_list = [10, 20, 30, 40]
my_list.reverse()
print(my_list)  # Output: [40, 30, 20, 10]

[40, 30, 20, 10]

count()

In [8]:
a = [1, 3, 2, 6, 3, 2, 8, 2, 9, 2, 7, 3]

# Count occurrences of 2
print(a.count(2))

# Count occurrences of 3
print(a.count(3))

4
3