<a href="https://colab.research.google.com/github/krishnaprasadlenka/python_concepts/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

creating list

In [ ]:
# Creating a Python list with different data types
a = [10, 20, "GfG", 40, True]

print(a)

# Accessing elements using indexing
print(a[0])  # 10
print(a[1])  # 20
print(a[2])  # "GfG"
print(a[3])  # 40
print(a[4])  # True

# Checking types of elements
print(type(a[2]))  # str
print(type(a[4]))  # bool

[10, 20, 'GfG', 40, True]
10
20
GfG
40
True
<class 'str'>
<class 'bool'>

Adding Elements into List
We can add elements to a list using the following methods:

append(): Adds an element at the end of the list.
extend(): Adds multiple elements to the end of the list.
insert(): Adds an element at a specific position.

In [ ]:
# Initialize an empty list
a = []

# Adding 10 to end of list
a.append(10)
print("After append(10):", a)

# Inserting 5 at index 0
a.insert(0, 5)
print("After insert(0, 5):", a)

# Adding multiple elements  [15, 20, 25] at the end
a.extend([15, 20, 25])
print("After extend([15, 20, 25]):", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]

Updating Elements into List

In [ ]:
a = [10, 20, 30, 40, 50]

# Change the second element
a[1] = 25

print(a)

[10, 25, 30, 40, 50]

Removing Elements from List
We can remove elements from a list using:

remove(): Removes the first occurrence of an element.
pop(): Removes the element at a specific index or the last element if no index is specified.
del statement: Deletes an element at a specified index.

In [ ]:
a = [10, 20, 30, 40, 50]

# Removes the first occurrence of 30
a.remove(30)
print("After remove(30):", a)

# Removes the element at index 1 (20)
popped_val = a.pop(1)
print("Popped element:", popped_val)
print("After pop(1):", a)

# Deletes the first element (10)
del a[0]
print("After del a[0]:", a)

After remove(30): [10, 20, 40, 50]
Popped element: 20
After pop(1): [10, 40, 50]
After del a[0]: [40, 50]

reverse()

In [ ]:
my_list = [10, 20, 30, 40]
my_list.reverse()
print(my_list)  # Output: [40, 30, 20, 10]

[40, 30, 20, 10]

count()

In [ ]:
a = [1, 3, 2, 6, 3, 2, 8, 2, 9, 2, 7, 3]

# Count occurrences of 2
print(a.count(2))

# Count occurrences of 3
print(a.count(3))

4
3

In [1]:
#SLICING IN LIST
#list_name[starting_index:ending_index]
marks=[45,46,47,48,49]
print(marks[0:3])

[45, 46, 47]

ALL LIST METHODS

In [4]:
#list=[2,1,3]
#list.append(4):-adds one element at the end
#list.sort():-sorts in ascending order
#list.sort(reverse=True):-sorts in descending order
#list.reverse():-reverse list
#list.insert(idx,el):-insert element at index
#list.remove(1):-removes first occurence of element
#list.pop(idx)#removes element at idx


list=[2,5,1,3,6]
list.append(4)
print(list)
list.sort()
print(list)
list.sort(reverse=True)
print(list)
list.reverse()
print(list)
list.insert(2,9)
print(list)
list.remove(1)
print(list)
list.pop(1)
print(list)

[2, 5, 1, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]
[1, 2, 9, 3, 4, 5, 6]
[2, 9, 3, 4, 5, 6]
[2, 3, 4, 5, 6]