<a href="https://colab.research.google.com/github/krishnaprasadlenka/python_concepts/blob/main/TUPLES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TUPLES IN PYTHON**:-
A BUILT-IN DATA TYPE THAT LETS US CREATE IMMUTABLE SEQUENCES OF VALUES

In [3]:
tup=(1,2,3,4,5)
print(type(tup))#type

<class 'tuple'>

In [4]:
tup=(2,3,4)
print(tup[0])#here we have to know that assigning values in tuple is not allowed as it is immutable

2

In [5]:
tup=(2,5,6)
print(tup[1:3])

(5, 6)

tuple methods

In [6]:
tup=(4,5,6,7)
tup.index(4)#counts first occurence of 4(at which position it has occured first)

0

In [7]:
tup=(1,2,6,3,4,2,1,2)
tup.count(2)#counts the number of occurences of 2

3

QUESTION- WAP to ask the user to enter names of their 3 favourite movies and store them in a list .

In [9]:
movies=[]
movie1=str(input("enter name of first movie:"))
movies.append(movie1)
movie2=str(input("enter name of second movie:"))
movies.append(movie2)
movie3=str(input("enter name of third movie:"))
movies.append(movie3)
print(movies)

enter name of first movie:hi
enter name of second movie:hello
enter name of third movie:how r u
['hi', 'hello', 'how r u']

QUESTION:-wap TO CHECK IF A LIST CONTAINS A PALINDROME OF ELEMENTS.

In [11]:
list1=[1,2,3,2,1]
copy_list1=list1.copy()
copy_list1.reverse()
if(list1==copy_list1):
  print("palindrome")
else:
  print("not palindrome")

palindrome